<section>
  <div class="container-fluid about text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="mb-4">About Me</h2>
          <p class="about-text">Who am I? Well, I'm not so sure. However, I do know that I'm a passionate, ambitious human being with a burning desire to create.
            I love to code, because coding gives me a way to channel and nurture my ambition. I've been coding for 4 years now, and counter intuitivley, the more I code,
            the more I realize that <strong>I know nothing</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
