<section>
  <div class="project-category text-center iOS">
    <div class="container">
      <h2 class="project-category-title">iOS Development</h2>
      <h5 class="mx-5 project-category-subtitle">I know: Xcode, Swift, auto layout, MVC, getting/posting to an API, core data, Realm, Firebase and a lot about app architecture.</h5>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/coin-pal.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">Coin Pal</h3>
                <p class="project-subtitle">Cryptocurrency portfolio tracker. 100+ coins availble in all fiat currencies. Uses Binance API to fetch coin data. Stores user data locally on device.</p>
                <a target="_blank" href="https://github.com/majd64/Coin-Pal" class="btn btn-primary" type="button" name="button">View on Githib</a>
                <a target="_blank" href="https://apps.apple.com/ca/app/coin-pal-1-crypto-tracker/id1517180079" class="mt-2 btn btn-outline-light" type="button" name="button">View on App Store</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/flash-chat.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">Flash Chat</h3>
                <p class="project-subtitle">Social media messaging app with authentication. Uses Firebase to store user data.</p>
                <button class="btn btn-primary" type="button" name="button">View on Githib</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/simpli-weather.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">Simpli Weather</h3>
                <p class="project-subtitle">User can search for a location or set location automatically. Has light & dark mode.</p>
                <a target="_blank" href="https://github.com/majd64/Clima" class="btn btn-primary" type="button" name="button">View on Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
