<section>
  <div class=" project-category text-center mb-5">
    <div class="container">
      <h2 class="project-category-title">Web Development</h2>
      <h5 class="mx-5 project-category-subtitle">I know: HTML 5, CSS 3, Bootstrap, JQuery, Javascript, React, Node.js, Expres.js, EJS, MongoDB, MySQL, Passport, CMD Line, Git/ Github</h5>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/ece-club.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">UofT ECE Club Website</h3>
                <p class="project-subtitle">Official ECE Club website! Allows admins to make posts to the website.</p>
                <p class="tech-used"><em>Technologies used: Node, Express, CPanel, MySQL, HTML5, CSS, Bootstrap, Javascript, JQuery, EJS</em></p>
                <a target="_blank" href="http://ece.skule.ca" class="mb btn btn-primary" type="button" name="button">Open website</a>
                <a class="mb btn btn-primary" type="button" name="button">View on Github</a>
              </div>
            </div>
          </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/keeper.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">Keeper</h3>
                <p class="project-subtitle">Note Taking App!</p>
                <p class="tech-used"><em>Technologies used: React, HTML 5, CSS, Bootstrap</em></p>
                <button class="mb btn btn-primary" type="button" name="button">Open website</button>
                <button class="mb btn btn-primary" type="button" name="button">View on Github</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="project-preview shadow">
              <img class="preview-image" src="/images/project-preview/uea.png" alt="">
              <div class="preview-content">
                <h3 class="project-title">United Earth Craft Minecraft Server Site</h3>
                <p class="project-subtitle">Official UEC Website</p>
                <p class="tech-used"><em>Technologies used: HTML5, CSS, Bootstrap, JQuery, Javascript</em></p>
                <a target="_blank" href="https://unitedearthcraft.com/" class="mb btn btn-primary" type="button" name="button">Open website</a>
                <a class="mb btn btn-primary" type="button" name="button">View on Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
