body{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: white;
}

.top{
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.title{
  font-weight: 700;
  margin-bottom: 2rem;
}

.subtitle{
  font-weight: 300;
  font-size: 1.4rem;
}

.navbar{
  background-color: white;
  padding: 2rem 0;
}

.project-category-title{
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.project-category-subtitle{
  font-weight: 300;
}

.project-category{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.project-category .container{
  margin-top: 5rem;
}

.header-img{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-top: 70px;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.header-img:hover{
  background: #454545;
  opacity: 0.5;

}





.about{
  background-color: #0275d8;
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
}

.about-text{
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.7rem;
}


.project-title{
  font-weight: 400;
}

.project-subtitle{
  font-weight: 200;
}

.tech-used{
  font-size: 0.9rem;
  font-weight: 200;
}

.preview-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.iOS .preview-image, .iOS .project-preview{
  border-radius: 15px;
}

.project-preview{
  background-color: #292b2c;
}

.project-preview:hover .preview-image{
  opacity: 0;
}

.project-preview:hover .preview-content {
  opacity: 1;
}

.preview-content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
